body{
  background-color: #ffcbcb;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #ffa5b0;
  background-color: #ffcbcb;
  border-width: 5px;
  width: 15%;

}

h1{
  color: #6a197d;
}

h3{
  color: #6a197d;
}

