body{
  background-color: #45046a;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #5c2a9d;
  background-color: #45046a;
  border-width: 5px;
  width: 15%;

}

h1{
  color: #b5076b;
}

h3{
  color: #b5076b;
}

table{
  color:#f1ebbb;
}
.skills{
  color: #b6eb7a;
}
li{
  color: #f1ebbb;
}

a{
  color: #f1ebbb;
}

form{
  color: #f1ebbb;
}
